@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
*{
    /* outline: 1px solid; */
    font-family: 'Abel', sans-serif;
    transition: .5s all ease;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(154, 151, 151);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headingDiv{
    margin: 1rem;
}
.heading{
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    padding: .3rem;
}
.heronameheading{
    text-align: start;
    text-align: 1.5rem;
}
.heading1{
    text-align: start;
    font-size: 1.4rem;
}
.inputDiv{
    margin: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#search{
    font-weight: bolder;
    font-size: 1.2rem;
    text-align: center;
    padding: .5rem;
    margin: 1rem;
}
.btn{
    margin: .5rem;
    padding: .3rem .7rem;
    border: none;
    transition: none;
    font-size: 1.5rem;
    outline: 1px solid;
}
svg{
    width: 20px;
    height: 20px;
}
hr{
    margin: auto;
    margin: .5rem;
    width: 95%;
}
main{
    border-radius: 5px;
    margin: 1rem;
    /* outline: 1px solid; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.heroimg{
    width: 100%;
    height: auto;
}
#superheroImg{
    margin: 1rem
}
#powerStatsDiv{
    border-radius: 5px;
    /* outline: 1px solid; */
    margin: 1rem;
}
.listcontainer{
    margin: 1rem;
    list-style: none;
}
.item{
    padding: .4rem;
}
#biographyDiv{
    /* outline: 1px solid; */
    margin: 1rem;
}
#appearnceDiv{
    /* outline: 1px solid; */
    margin: 1rem;
}