html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin:0;
  }
  h1{
    text-align: center;
    font-size: 2rem;
  }
  .wrapper {
    background: #1c1c1c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  button {
    cursor: pointer;
    padding: 1.5rem;
    border: none;
    font-size: 2rem;
    border-radius: 10px;
    background-color: #999;
  }
  img{
    width: 80px;
    height: 80px;
}
  .resultContainer {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
  }
  
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}